.pro {
  background-color: rgb(168, 178, 175);
  border-radius: 5px;
  width: fit-content;
  margin: 100px auto;
  padding: 20px;
  text-align: center;
}
.pro input {
  width: 60%;
  display: flex;
  width: 300px;
  height: 50px;
  background-color: white;
  border: 1px solid lightgray;
  margin: 15px auto;
}
.expandable target {
  height: 50px;
}

.btn {
  background-color: rgb(182, 182, 177);
  padding: 10px 20px;
}
