.head {
  font-size: medium;
}
.expense {
  float: left;
}
.profile {
  float: center;
}
.verify {
  background-color: rgb(168, 178, 175);
  border-radius: 5px;
  width: fit-content;
  margin: 100px auto;
  padding: 20px;
  text-align: center;
}
.bt {
  background-color: rgb(182, 182, 177);
  padding: 10px 20px;
}
