.login {
  background-color: rgb(168, 178, 175);
  border-radius: 5px;
  width: 550px;
  margin: 70px auto;
  padding: 10px;
  text-align: center;
}
.body {
  text-align: left;
  padding: 20px 10px;
}
.body {
  padding: 10px;
}
.login lable {
  text-align: center;
}
.input,
.login input {
  width: 60%;
  display: flex;
  width: 500px;
  height: 45px;
  background-color: white;
  border: 1px solid lightgray;
  margin: 10px auto;
}
.btn {
  background-color: rgb(182, 182, 177);
  padding: 10px 20px;
}
