.form {
  background-color: rgb(168, 178, 175);
  border-radius: 5px;
  width: fit-content;
  margin: 70px auto;
  padding: 10px;
  text-align: center;
}
.form-body {
  text-align: left;
  padding: 20px 10px;
}
.form-body {
  padding: 10px;
}
.form input {
  width: 60%;
  display: flex;
  width: 300px;
  height: 45px;
  background-color: white;
  border: 1px solid lightgray;
  margin: 10px auto;
}
.footer {
  text-align: center;
  size: 50px;
  padding: 20px;
}
.footer button {
  background-color: rgb(182, 182, 177);
  padding: 10px;
}
